*{
	margin:0;padding: 0;
}
body{
	font-size:12px;
	font-family: '微软雅黑'；
	background-color:#fff;
}
a:visited{
	color: black;
	text-decoration: none;
}
a,a:hover{
	color: #333;
	text-decoration: none;
}
a:link{
	color: #333;
	text-decoration: none;
}
.container{
	width:1200px;
	margin: 0 auto;
    list-style: none;	
}

.lf{
	float: left;
}
.rf{
	float: right;
}
li{
	list-style-type:none; 
}
input botton{
	outline: none;
}

.clearfloat:after{
	display: block;
	clear:both;
	content: '';
}
i{
	background-image: url(../images/iconlist_2.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}
.xiaoyuhao{
	background-image: url(../images/ad_arraw.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;	
}
